extends layout

block content

	include banner/index
	.page-header
		h3=__("HomeDescription")
	form.form-horizontal(method="POST")
		.form-group
			.col-sm-12
				+translateText('description', 5, description)
		.form-group
			button.ml-5.btn.btn-primary(type="submit")=__("Update") 

	.page-header
		h3=__("HighlightProjects")
	table.table.table-condensed
		thead
			tr
				th=__("Title")
				th=__n("Service", 1)
				th=__("State")
				th=__("Published")
				th
		tbody
			if projects.length
				each project, i in projects
					tr
						td= project.title[getLocale()]
						td= project.service.title[getLocale()]
						td= getProjectState(project.state, __)
						td 
							if project.publish
								=__("Yes")
							else
								=__("No")
						td
							a.pull-left.btn.btn-link(href='/' + getLocale() + '/admin/projects/' + project._id + '/highlight/false/update')
								i.fa.fa-remove.text-danger
								span.text-danger=__("Unhighlight")
			else 
				tr
					td.no-message(colspan='4')
						=__("NoHighlightMessage %s", __n("Project", 2))                   

block scripts
	script.
		var fixHelperModified = function(e, tr) {
				var $originals = tr.children();
				var $helper = tr.clone();
				$helper.children().each(function(index) {
				$(this).width($originals.eq(index).width())
				});
				return $helper;
			},
		updateIndex = function(e, ui) {
			$('td.index', ui.item.parent()).each(function (i) {
			$(this).find('span').html(i + 1);
			var bannerId = $(this).find('.bannerId').val();
			$.post('/admin/banners/' + bannerId + '/position/' + i + '/update');               
			});
		};

		$("table tbody").sortable({helper: fixHelperModified, stop: updateIndex}).disableSelection();
