extends ../layout

block content
	.toolbar
		+returnLink('/news', __n("News", 2))
	form.form-horizontal(method='POST', enctype="multipart/form-data")
		input(type='hidden', name='_csrf', value=_csrf)
		input(type='hidden', id='bannerid', value=news._id)
		.form-group
			label.col-sm-3.control-label(for='title')=__("Title")
			.col-sm-7
				+translateTextBox('title', news.title)
		.form-group
			label.col-sm-3.control-label(for='date')=__("Date")
			.col-sm-2
				select.form-control(id="dateMonth", name="date[month]")
					option(value="")=__("Month")
					for month in months
						if month === news.date.month						
							option(value=month, selected="selected")=__(month)
						else
							option(value=month)=__(month)
			.col-sm-2
				select.form-control(id="dateYear", name="date[year]")
					option(value="")=__("Year") 
					for year in years
						if year == news.date.year
							option(value=year, selected="selected")=year
						else
							option(value=year)=year
		.form-group
			label.col-sm-3.control-label(for='description')=__("Description")
			.col-sm-7
				+translateText('description', 5, news.description)
		.form-group
			label.col-sm-3.control-label(for='text')=__("Text")
			.col-sm-7
				+translateText('text', 10, news.text)
		.form-group
			+addSingleImageField('news-principal-image', news.homeImage, __("PrincipalImage"))
		.form-group
			+addImagesField(__n("Image", 2), 'news-images', news.images, news._id, 'news')
		.form-group
			+publishField(news.publish)
		.form-group.form-buttons
			button.btn.btn.btn-primary(type='submit')
				=__("Save")
