extends layout

block content
	- for(var  j = 0; j < logos.length;j=j+6)
		.row
			- for(var  i = j; i < j + 6;i++)
					if i < logos.length
						- var logo = logos[i];
						- var imageId = logo.image.filename + '.' + logo.image.fileext;
						.col-sm-2
							.image.logo
								if logo.link
									- var link = logo.link
									a(href=link, target="_blank")
										span.helper
										- var url = cloudinary.url(imageId, {width: 150})   
										- var title = logo.title   
										img(alt=title, title=title, src=url)
								else
									span.helper
									- var url = cloudinary.url(imageId, {width: 150})  
									- var title = logo.title
									img(alt=title, title=title, src=url)
	- for(var  j = 0; j < clients.length;j=j+4)
		.row
			- for(var  i = j; i < j + 4;i++)
					if i < clients.length
						- var client = clients[i];
						.news-highlighted.col-sm-3
							.image
								span.helper
								+showThumbImage(client.image, "240")
							.back-text
								.text
									.name=client.name[getLocale()]
									.company=client.company[getLocale()]
									.description !{client.comment[getLocale()]}
