extends layout

block content
	#content-banner.carousel.row.hidden-xs
		.col-sm-12
			.item-img-about-us
				img.img-about-us(alt="Contacto", title="Contacto", src="/images/contacto.jpg")
				.about-us-image
					.title
						=__("WeBuildNewHorizons")
	.row
		.col-xs-12.col-md-3.col-sm-offset-1.contact-us-details
			.title EBITAL &reg;
			.text
				label Piedras 425
				label comercial@ebital.com.uy
				label C.P. 11000
				label Teléfono: 
					a(href="tel:+59829146400")
						| (+598) 2914 6400
				label Montevideo - Uruguay     
				label www.ebital.com.uy 
		.col-sm-9.contact-us-form
			.title
				h2=__("Contact")
				i.fa.fa-play.ml-5
			.sub-title
				=__("SendUsMessage")
			include partials/flash
			form(role='form', method='POST')
				input(type='hidden', name='_csrf', value=_csrf)
				.form-group
					label(for='name') #{__("Name")}:*
					input.form-control(type='text', name='name', id='name', value='#{name}')
				.form-group
					label(for='email') #{__("Email")}:*
					input.form-control(type='text', name='email', id='email', value='#{email}')
				.form-group
					label(for='phone') #{__("Phone")}:*
					input.form-control(type='text', name='phone', id='phone', value='#{phone}')
				.form-group
					label(for='contact') #{__("ContactUs")}:*
					input.form-control(type='text', name='contact', id='contact', value='#{contact}')
				.form-group
					label(for='message') #{__("Message")}:*  
					textarea.form-control(type='text', name='message', id='message', rows='7')
						=message
				.form-group !{captcha}
				.form-group
						button.pull-right.btn(type='submit')
							=__("Send")
	.line