extends layout

block content
	#content-banner.carousel.slide(data-ride="carousel")
		.carousel-inner(role='listbox')
			- each banner, i in banners
				.item(class=i===0?"active":"")
					+showImage(banner.image, "", banner.title[getLocale()])
					.banner-text
						.title.col-sm-5.col-sm-offset-2
							=banner.title[getLocale()]
						.text.col-sm-4.ml-5
							=banner.description[getLocale()]
		a.left.carousel-control(href='#content-banner', role='button', data-slide='prev')
			span.fa.fa-chevron-left.fa-2x(aria-hidden='true')
			span.sr-only Previous
		a.right.carousel-control(href='#content-banner', role='button', data-slide='next')
			span.fa.fa-chevron-right.fa-2x(aria-hidden='true')
			span.sr-only Next
	.container
		.row
			.col-sm-12.content-text !{description}
	.content-highlighted
		.line
		.row
			.col-sm-12.service-highlighted(style="background-color: #ed6a24")
				.row
					.col-sm-3
						.logo-higlighted.pull-right
							img(src="/images/desarrollo_de_proyecto.png")
					.col-sm-3.ml-5
						.subtitle
							=__("InnovativeSolutions")
						.title
							=__("ProjectDevelopment")
						.description #{__("FinnancialStructuring")} +
							br
							| #{__("EfficientProjectDevelopment")} +
							br
							| #{__("ResourceOptimization")} =
							br
							span.total=__("IntegralDevelopment")
					.col-sm-5
						img(src="/images/highlight-tower.jpg", height="250")
	.content-highlighted
		.line
		.row
			.col-sm-2.content-highlighted-left
				.text-highlighted
					| #{__("OutstandingProjects")} &nbsp;
					i.fa.fa-caret-right
			.col-sm-10.content-highlighted-right
				+showProjects(projects, 250)
		.line


		