extends layout

block content
	- for(var  j = 0; j < news.length;j=j+4)
		.row
			- for(var  i = j; i < j + 4;i++)
					if i < news.length
						- var newsD = news[i];
						
						.news-highlighted.col-sm-3
							.image
								span.helper
								+showThumbImage(newsD.homeImage, "240")
							.date
								if newsD.date.month && newsD.date.year
									| #{__(newsD.date.month).substring(0, 3)}./#{newsD.date.year.substring(2, 4)}
							.back-text
								.text
									.title=newsD.title[getLocale()]
									.description !{newsD.description[getLocale()]}
								.link
									a(href="/" + getLocale() + __("url.newsDetail").replace(":newsUrl", newsD.url[getLocale()])) #{__("Read")} +
