
mixin headerLink(action, name)
	li(class=title==name?'active':undefined)
		a(href='/' + getLocale() +'/admin' + action)=name

mixin returnLink(action, name)
	a(href='/' + getLocale() +'/admin' + action)
		i.fa.fa-chevron-left
		=name

mixin pageHeader(title, route, plural)
	.row.page-header
		h3.col-sm-9=__n(title, 2)
		+addLink(route, title, plural)

mixin addLink(section, title, plural)
	- var action = '/' + section + '/add';
	a.btn.btn-success.add-button(href='/' + getLocale() +'/admin' + action)
		i.fa.fa-plus
		span=__n('Add %%s', 'Add %%s', plural, __n(title, 1))

mixin editLink(section, id)
	- var action = '/' + section + '/' + id + '/edit';
	a.btn.btn-link(href='/' + getLocale() +'/admin' + action)
		i.fa.fa-edit.text-info
		=__('Edit')

mixin deleteLink(section, id)
	- var action = '/' + section + '/' + id + '/delete';
	a.btn.btn-link(href='/' + getLocale() +'/admin' + action)
		i.fa.fa-remove.red.text-danger
		=__('Remove')

mixin addImagesField(label, type, images, id, url)
	label.col-sm-3.control-label(for='text')=label
	.col-sm-7
		.fileinput
			if images
				.images-container.row
					for image in images
						.image-field.col-sm-3
							a.select-image.thumbnail(href=image.url, data-lightbox=type) !{cloudinary.image(image.filename + "." + image.fileext, { height: 100, width: 150, crop: "thumb"})}
							a.remove-image.col-sm-12.text-center(href='#', imageFileName='#{image.filename}', data-id='#{id}', data-url=url)=__('Remove')
			.images-new-container.row
			.images-toolbar.row
				.pull-left.col-sm-12
					button.btn.btn-default.btn-file=__n('AddImage', 2)	
					a.clear-selection.ml-5.hide(href="#")=__('Undo')
					input.field-upload.field-upload-0(type='file', name=type, multiple='', tabindex='-1')

mixin addSingleImageField(type, image, label)
	label.col-sm-3.control-label(for='text')=label
	.col-sm-7
		.fileinput
			.image-container.row
				.col-sm-3
					+showImage(image, type)
			.images-toolbar.row
				.pull-left.col-sm-12
					button.btn.btn-default.btn-change-file 
						if image && image.filename
							=__('ChangeImage')
						else 
							=__n('AddImage', 1)			
					span#ChangeImage.hide=__('ChangeImage')
					input.field-upload.field-upload-0(type='file', name=type, tabindex='-1')

mixin showImage(image, type)
	if image && image.filename
		.image-field
			a.select-image.thumbnail(href=image.url, data-lightbox=type) !{cloudinary.image(image.filename + "." + image.fileext, { height: 100, width: 150, crop: "thumb"})}

mixin publishField(published)
	label.col-sm-3.control-label(for='publish')=__("Publish") 
	.col-sm-4
		label.radio.col-sm-4
			input(type='radio', name='publish', checked=published,  value='true', data-toggle='radio')
			span=__("Yes") 
		label.radio.col-sm-4
			input(type='radio', name='publish', checked=published==false, value='false', data-toggle='radio')
			span=__("No")



mixin translateTextBox(name, value, required)
	- var valueLocale = value ? value[getLocale()] : '';
	- var nameLocale = name + '[' + getLocale() + ']';
	- var idLocale = name + getLocale();
	input.form-control.textbox-change(type='text', name=nameLocale, id=idLocale, value=valueLocale, data-name=name, required=required)
	for lang in ['en', 'es']
		if lang !== getLocale()
			- nameLocale = name  + '[' + lang + ']';
			- valueLocale = value ? value[lang] : '';
			- idLocale = name + lang;
			input.form-control.textbox-change(type='hidden', name=nameLocale, id=idLocale, value=valueLocale, data-name=name, required=required)
	+translateList(name, value)

mixin translateDescription(name, rows, value)
	- var valueLocale = value ? value[getLocale()] : '';
	- var nameLocale = name + '[' + getLocale() + ']';
	- var idLocale = name + getLocale();
	- var height = "height:" + (rows + 8) +"em";
	.text
		textarea.form-control.text-change(style=height, rows=rows, name=nameLocale, id=idLocale, data-name=name)
			=valueLocale
	for lang in ['en', 'es']
		if lang !== getLocale()
			- nameLocale = name  + '[' + lang + ']';
			- valueLocale = value ? value[lang] : '';
			- idLocale = name + lang;
			.text.hide
				textarea.form-control.text-change(style=height, rows=rows, name=nameLocale, id=idLocale, data-name=name)
					=valueLocale
	ul.list-inline
		- var idEs = name + 'es';
		li(class=getLocale()==="es"? "active" : "", data-id=idEs)
			- var valueEs = value ? value.es : '';
			a.text-lang(href="#", title=__("TranslateToSpanish"), data-lang="es", data-name=name, data-value=valueEs) #{__("Spanish")}&nbsp
			if value && value !== "undefined" && value.es
				i.fa.fa-check.text-success
			else
				i.fa.fa-remove.text-danger
		- var idEn = name + 'en';
		li(class=getLocale()==="en"? "active" : "", data-id=idEn)
			- var valueEn = value ? value.en : '';
			a.text-lang(href="#", title=__("TranslateToEnglish"), data-lang="en", data-name=name, data-value=valueEn) #{__("English")}&nbsp
			if value && value !== "undefined" && value.en
				i.fa.fa-check.text-success
			else
				i.fa.fa-remove.text-danger

mixin translateText(name, rows, value)
	- var valueLocale = value ? value[getLocale()] : '';
	- var nameLocale = name + '[' + getLocale() + ']';
	- var idLocale = name + getLocale();
	- var height = "height:" + (rows + 8) +"em";
	.text
		textarea.textarea.form-control.text-change(style=height, rows=rows, name=nameLocale, id=idLocale, data-name=name)
			=valueLocale
	for lang in ['en', 'es']
		if lang !== getLocale()
			- nameLocale = name  + '[' + lang + ']';
			- valueLocale = value ? value[lang] : '';
			- idLocale = name + lang;
			.text.hide
				textarea.textarea.form-control.text-change(style=height, rows=rows, name=nameLocale, id=idLocale, data-name=name)
					=valueLocale
	ul.list-inline
		- var idEs = name + 'es';
		li(class=getLocale()==="es"? "active" : "", data-id=idEs)
			- var valueEs = value ? value.es : '';
			a.text-lang(href="#", title=__("TranslateToSpanish"), data-lang="es", data-name=name, data-value=valueEs) #{__("Spanish")}&nbsp 
			if value && value !== "undefined" && value.es
				i.fa.fa-check.text-success
			else 
				i.fa.fa-remove.text-danger
		- var idEn = name + 'en';
		li(class=getLocale()==="en"? "active" : "", data-id=idEn)
			- var valueEn = value ? value.en : '';				
			a.text-lang(href="#", title=__("TranslateToEnglish"), data-lang="en", data-name=name, data-value=valueEn) #{__("English")}&nbsp
			if value && value !== "undefined" && value.en
				i.fa.fa-check.text-success
			else 
				i.fa.fa-remove.text-danger

mixin translateList(name, value)
	ul.list-inline
		- var idEs = name + 'es';
		li(class=getLocale()==="es"? "active" : "", data-id=idEs)
			- var valueEs = value ? value.es : '';
			a.textbox-lang(href="#", title=__("TranslateToSpanish"), data-lang="es", data-name=name, data-value=valueEs) #{__("Spanish")}&nbsp 
			if value && value !== "undefined" && value.es
				i.fa.fa-check.text-success
			else 
				i.fa.fa-remove.text-danger
		- var idEn = name + 'en';
		li(class=getLocale()==="en"? "active" : "", data-id=idEn)
			- var valueEn = value ? value.en : '';				
			a.textbox-lang(href="#", title=__("TranslateToEnglish"), data-lang="en", data-name=name, data-value=valueEn) #{__("English")}&nbsp
			if value && value !== "undefined" &&  value.en
				i.fa.fa-check.text-success
			else 
				i.fa.fa-remove.text-danger



